/*----- Estilo padrão dos conteúdos do site -----*/
body {
  font-family: "Poppins", sans-serif;
  background: #444444;
}
/*----- TABELA -----*/
.tabela{
  position: sticky;
  display: grid;
  overflow: auto;
  border-collapse: collapse;
  margin: auto;
  overflow-x: auto;
  font-family: sans-serif;
  width: 96%;
  margin-top: 155px;
  background-color: #141429;
}

.maior {
  width: 300px;
}

.maior2 {
  width: 100px;
}

.maior3 {
  width: 70%;
}

.maior4 {
  width: 10%;
}

.maior5 {
  width: 14%;
}

.esquerda {
  text-align: left;
}

.tabela:not(.cabecalho){
  display: block;
  overflow-y: auto;
}

.dados{
  color: #ffffff;
}

td, th {
  padding: 5px;
  color: #fff;
}

/* ---------------Scroll -------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fd7e14; 
}

/* ---------------Fim Scroll -------------- */


/*----- FIM TABELA -----*/

/*---Cabeçalho---*/ 
.cabecalho {
  background: #fd7e14;
  font-family: Verdana;
  font-weight: bolder;
  
}

.cabecalho th {
  padding: 10px;
  

}
/*---FIM Cabeçalho---*/

.content{display: flex; margin: auto}

/*--- Botão Comum ---*/

/* 
.button1, .button2 {
  border: none;
  padding: 16px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  width: 130px; 
}


.button1 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
  }

.button1:hover {
  background-color: #4C9141;
  color: white;
  }

.button2 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
  }

.button2:hover {
  background-color: #ca3838;
  color: white;
  }

 */


 /*--- FIM Botão Comum ---*/

 /*--- Botão Comum ---*/

.button1, .button2 {
  border: none;
  padding: 16px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
  width: 130px; 
}

.button3 {
  width: 70px;
  margin: auto;
}

.button1 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
}

.button1:hover {
  background-color: #4C9141;
  color: white;
}

.button2 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
}

.button2:hover {
  background-color: #ca3838;
  color: white;
}
/*--- FIM Botão Comum ---*/

/*BOTÃO ADICIONAR*/

.buscar-btn {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #ffffff;
  cursor: pointer;
 }

.button-Adicionar{
  border: 2px solid #ffffff;
  background-color: #141429;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 2.6%;
  margin-bottom: 0.7%;
  height: 40px;
  width: 20%;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: left;
  cursor: pointer;
}

.button-Adicionar:hover{
  background-color: #fd7e14;
  color: white;
  border: 2px solid #fd7e14;
}
/*--------------------------------------------------*/

/*BOTÃO EXCLUIR*/
.button-Excluir{
  border: 2px solid white;
  background-color: #630e0e;
  padding: 4px 8px;
  margin-left: 4px;
  margin-right: 12px;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: right;
  cursor: pointer;
}
.button-Excluir:hover{
  background-color: #630e0e;
  color: #ff0000;
  border: 2px solid #1a0e0e;
}
/*--------------------------------------------------*/

/*BOTÃO EDITAR*/
.button-Editar{
  border: 2px solid white;
  background-color: #2f3640;
  padding: 4px 5px;
  margin-left: 4px;
  margin-right: 12px;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: right;
  cursor: pointer;
  
}
.button-Editar:hover{
  background-color: #172b4d;
  color: #fd7e14;
  border: 2px solid #fd7e14;
}

/*--------------------------------------------------*/


/*--- Buscar ---*/

.buscar {
  border: 2px solid #ffffff;
  background: #141429;
  margin-top: 5%;
  margin-left: 3.5%;
  margin-right: 2.6%;
  margin-bottom: 0.7%;
  height: 40px;
  width: 20%;
  border-radius: 45px;
  float: right;
 }
 
 .buscar:hover{
  border-color: #fd7e14;
 }

 .buscar:hover > .buscar-txt {
    width: 70%;
    padding: 0 10px;
   }
   
   .buscar:hover > .buscar-btn {
    background: #fd7e14;
    color: white;
    border: #fd7e14;
   }
  
   .buscar-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #ffffff;
    cursor: pointer;
   }
   
   .buscar-btn > i {
    font-size: 30px;
   }
  
   .buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

/*--- Fim Buscar ---*/ 

/*----- FIM Estilo dos conteúdos do site FIM -----*/

/*----- Para dispositivos móveis -----*/

@media (max-width: 768px) {
  table {
    margin: 2%;
    background: #a35e5e;
    margin-top: 25%;
  }

  .tabela{
    margin: auto;
  }

  .buscar {
    margin-top: 20%;
    width: 40%;
  }

  .buscar:hover > .buscar-txt {
    width: 50%;
   }

  .button1, .button2 {
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    width: 60px;
  }

  th {
    display: none;
  }

  td {
    display: flex; flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
  }

tr:nth-child(even) {background: #2f3640}
tr:nth-child(odd) {background: rgba(54, 53, 53, 0.13)}

  th, td {
    font-size: 70%;
  }
}

/*--- Parte do USUÁRIO ---*/ 

.logo_bibliofateca_usuario {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.login-form{
  width: calc(100% -8px);
  margin-top: 40px;
  margin-right: 30%;
  margin-left: 30%;
}

#header_usuario {
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: row;
  position: top;
  height: 9%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202040 ;
  z-index: 1;
}

.button-Livros{
  height: 50px; 
  width: 200px; 
  margin: -20px -100px 10px; 
  position: relative;
  top: 100px; 
  left: 50%;
  border: 2px solid #ffffff;
  background-color: #141429;
  border-radius: 10px;  
  color: white;
  font-size: 16px;
  float: auto;
  cursor: pointer;
}

.Recados{
  height:20px; 
  width:100px; 
  margin:-20px -50px 10px ; 
  position: relative;
  top: 140px; 
  left:50%;
  border: #302f2f;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button-Recados{
  height: 25px; 
  width: 25px; 
  margin: -20px -14px 10px; 
  position: relative;
  top: 140px; 
  margin-bottom: 40px;
  left: 50%;
  border: 2px solid #ffffff;
  background-color: #141429;
  border-radius: 50px;  
  color: white;
  font-size: 11px;
  cursor: pointer;
}

.button-Retornar{
  height: 50px; 
  width: 200px; 
  margin: -20px -100px 10px; 
  position: relative;
  top: 140px; 
  left: 50%;
  border: 2px solid #ffffff;
  background-color: #141429;
  border-radius: 10px;  
  color: white;
  font-size: 16px;
  float: auto;
  cursor: pointer;
}

.button-Solicitação{
  height: 250px; 
  width: 200px; 
  margin: -20px -100px 10px; 
  position: relative;
  top: 100px; 
  left: 50%;
  border: 2px solid #ffffff;
  background-color: #141429;
  border-radius: 10px;  
  color: white;
  font-size: 16px;
  float: auto;
  cursor: pointer;
}

.footer_usuario {
  position: fixed;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 6%;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202040 ;
  z-index: 1;
}

.logo_fatec {
  width: 60px;
}

/*--- Fim parte do usuário ---*/ 

