/*----- Estilo padrão dos conteúdos do site -----*/
body {
  font-family: "Poppins", sans-serif;
  background: #444444;
  
}
/*----- TABELA -----*/
.tabela{
  position: sticky;
  display: grid;
  overflow: auto;
  border-collapse: collapse;
  margin: 50px;
  overflow-x: auto;
  border: 3px;
  border-color: #000000;
  font-family: sans-serif;
  min-width:  93%;
  margin-top: 155px;
  background-color: #141429;
  
}



.tabela:not(.cabecalho){
  display: block;
  height: 700px;
  overflow-y: auto;
}

.dados{
  color: #ffffff;
}

/* ---------------Scroll -------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fd7e14; 
}

/* ---------------Fim Scroll -------------- */


/*----- FIM TABELA -----*/

  th {
  padding: 5px;
}

/*---Cabeçalho---*/ 
.cabecalho {
  background: #fd7e14;
  font-family: Verdana;
  color: #000000;
  font-weight: bolder;
  
}

.cabecalho td {
  padding: 3px;
  

}
/*---FIM Cabeçalho---*/

.content{display: flex; margin: auto}

/*--- Botão Comum ---*/

/* 
.button1, .button2 {
  border: none;
  padding: 16px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  width: 130px; 
}


.button1 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
  }

.button1:hover {
  background-color: #4C9141;
  color: white;
  }

.button2 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
  }

.button2:hover {
  background-color: #ca3838;
  color: white;
  }

 */


 /*--- FIM Botão Comum ---*/

/*BOTÃO ADICIONAR*/
.button-Adicionar{
  border: 2px solid #ffffff;
  background-color: #141429;
  padding: 4px 4px;
  margin-top: 7.2%;
  margin-left: 50px;
  margin-right: 12px;
  border-radius: 10px;  
  color: white;
  font-size: 16px;
  float: left;
  cursor: pointer;
}
.button-Adicionar:hover{
  background-color: #fd7e14;
  color: white;
  border: 2px solid #fd7e14;
}
/*--------------------------------------------------*/

/*BOTÃO EXCLUIR*/
.button-Excluir{
  border: 2px solid white;
  background-color: #630e0e;
  padding: 4px 8px;
  margin-left: 4px;
  margin-right: 12px;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: right;
  cursor: pointer;
}
.button-Excluir:hover{
  background-color: #630e0e;
  color: #ff0000;
  border: 2px solid #ff0000;
}
/*--------------------------------------------------*/

/*BOTÃO EDITAR*/
.button-Editar{
  border: 2px solid white;
  background-color: #2f3640;
  padding: 4px 5px;
  margin-left: 4px;
  margin-right: 12px;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: right;
  cursor: pointer;
  
}
.button-Editar:hover{
  background-color: #172b4d;
  color: #fd7e14;
  border: 2px solid #fd7e14;
}

/*--------------------------------------------------*/


/*--- Buscar ---*/

.buscar {
  
  border: 2px solid #ffffff;
  background: #141429;
  margin-top: 7%;
  margin-left: 3.5%;
  margin-right: 2.6%;
  margin-bottom: 1%;
  height: 40px;
  width: 20%;
  border-radius: 45px;
  float: right;
  
  
 }
 

 .buscar:hover{
  border-color: #fd7e14;

 }

 .buscar:hover > .buscar-txt {
    width: 70%;
    padding: 0 16px;
   }
   
   .buscar:hover > .buscar-btn {
    background: #fd7e14;
    color: white;
    border: #fd7e14;
   }
  
   .buscar-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #ffffff;
    cursor: pointer;
   }
   
   .buscar-btn > i {
    font-size: 30px;
   }
  
   .buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

/*--- Fim Buscar ---*/ 

/*----- FIM Estilo dos conteúdos do site FIM -----*/

/*----- Para dispositivos móveis -----*/

@media (max-width: 768px) {
  table {
    margin: 2%;
    background: #a35e5e;
    margin-top: 25%;
  }

  .buscar {
    margin-top: 15%;
    width: 40%;
  }

  .buscar:hover > .buscar-txt {
    width: 62%;
   }

  .button1, .button2 {
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    width: 60px;
  }

  th {
    display: none;
  }

  td {
    display: flex; flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
  }

tr:nth-child(even) {background: #2f3640}
tr:nth-child(odd) {background: rgba(54, 53, 53, 0.13)}

  th, td {
    font-size: 70%;
  }
}