body,

ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

a:hover:not(#logo) {
  background: rgba(128, 126, 126, 0.301);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2f3640;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#logo{
    color: #ca3838;
    font-size: 20px;
    font-weight: bold;
}

#menu a {
  display: block;
  padding:1.6rem;
}

#btn-mobile {
  display: none;
}

.sair {
    background-color: #ca3838;
}

.sair:hover {
    background: rgb(0, 0, 0);
}

body {
    width: 100%;
    height: 1000px;
    background:linear-gradient(0deg,#444444, #bebebe);
}


/****** Estilo do login ******/

  
.login-body{
  background:linear-gradient(0deg,#7d95e4, #bebebe); 
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  width: calc(100%);
  max-width: 500px;
  background:linear-gradient(180deg, #A8C0FF,#2f3640);
  padding: 10px 40px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.login-form h1{
  text-align: center;
  margin: 48px 0;
  font-size: 36px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

.textb{
  margin-bottom: 12px;
  position: relative;
}

.textb input{
  width: 100%;
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 60px 0 10px;
}

.placeholder{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  line-height: 70px;
  top: 0;
  left: 20px;
  color: #9d9d9d;
  user-select: none;
  pointer-events: none;
}

.show-password{
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #9d9d9d;
  font-size: 22px;
  cursor: pointer;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder{
  left: 10px;
  top: -16px;
}

.checkbox{
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 20px 0;
}

.checkbox input{
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  background-color: rgb(187, 187, 187);
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  border-color: #a0a0a0;
}

.checkbox .fa-check{
  position: absolute;
  color: rgb(160, 160, 160);
  font-size: 14px;
  width: 24px;
  text-align: center;
  user-select: none;
  pointer-events: none;
  opacity: 0;
}

.checkbox input:checked{
  background-color: #2f3640;
}

.checkbox input:checked + .fa-check{
  opacity: 1;
}

.btn{
  display: block;
  width: 100px;
  height: 100px;
  margin: 40px auto;
  background-color: #7d95e4;
  color: white;
  font-size: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s linear;
}

.btn:hover{
  opacity: .85;
}

.login-form a{
  display: inline;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-transform: none;
  font-weight: 500;
  margin-bottom: 8px;
  transition: .2s linear;
  
}

.login-form a:hover{
  color: #ffffff;
  font-weight: bold
}

.btn:disabled{
  background-color: transparent;
  color: rgb(187, 187, 187);
  border: 2px solid;
}      


/****** FIM Estilo do login FIM ******/




/****** Estilo dos conteúdos ******/

table {
  position: absolute;
  border-collapse: collapse;
  margin: 50px;
  background-color:#93a3d8;
  box-shadow: 0 5px 20px rgb(0, 0, 0);
  overflow-x: auto;
  border-color: #ca3838;
  font-family: sans-serif;
  min-width:  92%;

}

td, th {
  padding: 5px;
}

.cabecalho {  /**Cabeçalho  **/ 
  background-color: #2f3640;
  color: #fff;
  font-family: Verdana;
}

.cabecalho th {
  padding: 10px;
}

.esquerda {
  text-align: left;
}

/* para deixar a coluna do "Livro Retirado?" maior*/

.destaque {
  background-color: #2a313a;
  box-shadow: 2px 0px 0px #37414d;
  position: relative;
  color:rgb(165, 165, 165);
  display: block;
  text-decoration: none;
  padding: 20px;
}

.maior {
  width: 300px;
}

.content{display: flex; margin: auto}

.button1, .button2 {
  border: none;
  padding: 16px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  width: 130px; 
}


.button1 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
}

.button1:hover {
  background-color: #4C9141;
  color: white;
}

.button2 {
  background-color: #2f3640;
  color: white;
  border: 2px solid white;
}

.button2:hover {
  background-color: #ca3838;
  color: white;
}


/*BOTÃO ADICIONAR*/
.button-Adicionar{
  border: 2px solid white;
  background-color: #2f3640;
  padding: 4px 8px;
  margin-left: 4px;
  margin-right: 12px;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: left;
}
.button-Adicionar:hover{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
/*--------------------------------------------------*/

/*BOTÃO EXCLUIR*/
.button-Excluir{
  border: 2px solid white;
  background-color: #630e0e;
  padding: 4px 8px;
  margin-left: 4px;
  margin-right: 12px;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: right;
}
.button-Excluir:hover{
  background-color: #ca3838;
  color: #ffffff;
}
/*--------------------------------------------------*/

/*BOTÃO EDITAR*/
.button-Editar{
  border: 2px solid white;
  background-color: #2f3640;
  padding: 4px 8px;
  margin-left: 4px;
  margin-right: 12px;
  border-radius: 45px;  
  color: white;
  font-size: 16px;
  float: right;
 
}
.button-Editar:hover{
  background-color: #15181d;
  color: #ffffff;
}

/*--------------------------------------------------*/

.buscar {
  position: absolute;
  background: #2f3640;
  margin-top: 5px;
  margin-left: 3.5%;
  margin-right: 3.5%;
  height: 40px;
  width: 93%;
  border-radius: 40px;

 }
 
 .buscar:hover > .buscar-txt {
    width: 93%;
    padding: 0 16px;
   }
   
   .buscar:hover > .buscar-btn {
    background: white;
    color: #7c2b2b;
   }
  
   .buscar-btn {
    color: #666666;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(248, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #7c2b2b;
    cursor: pointer;
   }
   
   .buscar-btn > i {
    font-size: 30px;
   }
  
   .buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }


    Table{
      min-width: 93%;
      position: absolute;
      border-collapse: collapse;
      margin: 50px;
      background-color:#babdc9;
      box-shadow: 0 5px 20px rgb(0, 0, 0);
      overflow-x: auto;
      border-color: #ca3838;
      font-family: sans-serif;
    }
   
    img{
      width: 30%;
      float: right
      
      vertical-align: top;
      z-index: 9;
    }

   /*
   .logo-bibliofateca{ 
    left: 50px;
    width: 200px; 
    padding: 10px;
}
   .logo-fatec{ 
    left: 50px;
    width: 120px; 
    padding: 10px;
}
/*
/****** FIM Estilo dos conteúdos FIM ******/

/****** Para dispositivos móveis ******/

@media (max-width: 768px) {
  .button1, .button2 {
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    width: 60px;
  }

  table {
    margin: 5%;
    background: #a35e5e;
    margin-top: 8%;
      }

  th {
    display: none;
  }

  td {
    display: flex; flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
  }

tr:nth-child(even) {background: #2f3640}
tr:nth-child(odd) {background: rgba(54, 53, 53, 0.13)}

  th, td {
    font-size: 70%;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #333;
    transition: 0.6s;
    z-index: 100000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  a:hover {
    background: rgba(62, 63, 62, 0.993);  
  }

  .sair:hover{
    background-color: #b43333;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    background-color: rgb(68, 67, 67);
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(54, 53, 53, 0.13);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: rgb(255, 255, 255);
  }
  #hamburger {
    color: rgb(255, 255, 255);
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  
}