body{
    background-color: rgb(90, 88, 88);
}


.row-0{
    background-color: rgb(201, 127, 127);
}

.row-1{
    background-color: darkslateblue;
    height: 54px;

}


.row-2{
    background-color: rgb(90, 88, 88);
}

html, body {
	height: 100%; /* hack para IE6 que trata height como min-height */
	}



.row-3{
        background-color: darkslateblue;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        
        }



.rodape{
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-right: 20px;
    color: rgb(255, 255, 255);

    }


    .col-md-13{
        position: sticky;
        display: grid;
        overflow: auto;
        border-collapse: collapse;
        margin: 50px;
        overflow-x: auto;
        font-family: sans-serif;
        min-width:  93%;
        margin-top: 90px;
        
    }
    
   
    

.cabecalho_taela {
    background: #fd7e14;
    font-family: Verdana;
    color: #000000;
    font-weight: bolder;
    
  }
  

  .cabecalho_table{
      background-color:darkslateblue ;
      color: rgb(255, 255, 255);
  }
  .cabecalho_table th {
    padding: 10px;
  }

  tbody{
      background-color: rgb(33, 78, 76);
      color: rgb(255, 255, 255);
     
  }

  .col-md-13:not(.cabecalho_table){
    display: block;
    height: 700px;
    overflow-y: auto;
  }



  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(62, 151, 96);

  }


.nav-item{
    box-sizing: border-box;
    padding: 0.43rem;
    align-items: center; 
}

li .nav-item{
    background-color: rgb(62, 151, 96);
    
    
}

.nav-item:hover{
    background-color: rgb(62, 151, 96);
    
    
}

.nav-link, .dropdown-toggle{
    color: rgb(255, 255, 255);
}

.nav-link:hover{
    color: rgb(255, 255, 255);
}

thead{
    color: rgb(255, 255, 255);
}

.nav-pills .nav-item.active,
.nav-pills .nav-item.show .nav-link {
  color: #fff;
  cursor: pointer;
  background-color: #262344;
}