@font-face {
    font-family: 'Times New Roman';
    src: url('OpenSans-Regular.ttf') format('truetype');
  }

html, body {
    font-family: 'Times New Roman', Times, sans-serif !important;
    margin: 0px !important;
    padding: 0px !important;
    
}

body {
    color: #bdbdbd !important;
    background: #bdbdbd !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important; 
}


footer.rodape {
    position:absolute !important;
    bottom:0 !important;
    width:100% !important;
    height:100px !important;   /* Mesma Altura do Rodapé */
    background:#6cf !important;
}




div.nav-md .container.body .col-md-3.left_col{
    min-height: 100% !important;
    width: 230px !important;
    padding: 0 !important;
    position: fixed !important;
    display: -ms-flexbox !important;
    display: flex !important;
    z-index: 1 !important;
}

.nav_title {
    background: #b20000 !important;
}
.nav-md{
    color: #b20000 !important;
    background: #bdbdbd !important;
    font: times !important;
}

.container{
    margin-left: auto !important;
    margin-right: auto !important;; 
}

toggle {
    color: #b20000 !important;
}

btn btn-default {
    color: #b20000 !important;
}
.select{
    border-radius: 20px !important;
}
.toggle a {
    color: #b20000 !important;
}

.nav_menu{
    width: 119% !important;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 5px solid #013a46 !important;
    font: verdana !important;
    width:100% !important;
    height: 100% !important;
}

.row{
    width:100% !important;
    height: 100% !important;
}


