@font-face {
    font-family: 'Times New Roman';
    src: url('OpenSans-Regular.ttf') format('truetype');
  }

html, body {
    font-family: 'Times New Roman', Times, sans-serif !important;
    margin: 0px !important;
    padding: 0px !important;
}

body {
    color: #fff !important;
    background: #ffffff !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important; 
}

.rodape {
    background-color: #2f2f2f !important;
    color: #f8feff !important; 
    position: static !important; 
    width: 100% !important;
    height: 30px !important;
    bottom: 0 !important;
    left: 0 !important;
}

.right_col{
    width:100% !important;
    height: 100% !important;
}

.left_col {
    background: #2f2f2f !important;
    position: fixed !important;
}
.nav_title {
    background: #2f2f2f !important;
}
.nav-md{
    color: #2f2f2f !important;
    background: #ffffff !important;
    font: times !important;
}

.container{
    margin-left: auto !important;
    margin-right: auto !important;; 
}

toggle {
    color: #2f2f2f !important;
}

btn btn-default {
    color: #2f2f2f !important;
}
.select{
    border-radius: 20px !important;
}
.toggle a {
    color: #2f2f2f !important;
}

.nav_menu{
    width: 119% !important;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 5px solid #013a46 !important;
    font: verdana !important;
    width:100% !important;
    height: 100% !important;
}

.row{
    width:100% !important;
    height: 100% !important;
}

.cor_botao{
    background-color: #57bd84 !important;
}


