html, body {
    margin: 0px !important;
    padding: 0px !important;
}

body {
    color: #fff !important;
    background: #ffffff !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    
}

.rodape {
    background-color: #b20000 !important;
    color: #f8feff !important; 
    position: static !important; 
    width: 103% !important;
    height: 52px !important;
    bottom: 0 !important;
    left: 0 !important;
    

}

.right_col{
    width:103% !important;
    height: 100% !important;
}

.left_col {
    background: #b20000 !important;
    position: fixed !important;
}
.nav_title {
    background: #b20000 !important;
}
.nav-md{
    color: #b20000 !important;
    background: #ffffff !important;
    font: times !important;
}
toggle {
    color: #b20000 !important;
}

btn btn-default {
    color: #b20000 !important;
}
.select{
    border-radius: 20px !important;
}
.toggle a {
    color: #b20000 !important;
}

.nav_menu{
    width: 119% !important;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 5px solid #013a46 !important;
    font: verdana !important;
    width:100% !important;
    height: 100% !important;
}

.x_panel, .x_title {
    color: #5c5353 !important;
}

.row{
    width:100% !important;
    height: 100% !important;
}


