body{
    background: #b20000 !important;
}

.toggle a {
    color: #b20000 !important;
}

footer.rodape{
    background: #b20000 !important;
    color: white;
    font-size: 20px;
}

.left_col {
    background: #b20000 !important;
}

.nav_title {
    background: #b20000 !important;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 6px solid #2A3F54 !important;
}

